.jumbotron{
    background-color : white;
    text-align:center;
    border-bottom: 5px solid lightgray;
    box-shadow: 5px 5px 5px 5px lightgray inset;
}
.navbar{
    background-color: rgb(84, 129, 70);
}
.nav-item{
    color : white;
    font-family: sans-serif;
    font-size : 20px;
}
.nav-brand{
    text-align : center;
}
#banner{
    border-radius: 25px;
    border: 10px solid rgb(84, 129, 70);
    padding: 20px;
    margin : 20px;
    box-shadow: 5px 5px 5px 5px lightgray inset;
}

#keyword{
    width: auto;
}

label{
    font-size: 20px;
    font-family: sans-serif;
    margin : 5px;
    padding : 5px;
    font-weight : 700;
    border-radius: 25px;
    border: 5px solid rgb(84, 129, 70);
}

.container{
    margin :20px;
}

#keyword{
    border-radius: 25px;
    background-color: lightgray;
    border : None;
    padding : 10px;

}

#submit{
    width: 100%;
    background-color: black;
    color: white;
    display:block;
    
}
#submit:hover{
    width: 100%;
    background-color: white;
    color : black;
    border-color: black;
}